.nav_links {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(-200%);
  transition: transform 0.3s;
  list-style-type: none;
  background-color: #fff;
  gap: 0.5em;
  padding: 0.15em 0;
}

.nav_links.show {
  transform: translateY(1em);
}

.nav_links li a {
  color: #999;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.2s;
}

.nav_links li a:hover {
  color: #000;
}

@media (min-width: 640px) {
  .nav_links {
    position: static;
    transform: translateY(0);
    background-color: transparent;
    flex-direction: row;
    gap: 2em;
  }

  .nav_links li a {
    color: #fff;
  }

  .nav_links li a:hover {
    color: #aaa;
  }

  .icon {
    display: none;
  }
}
